@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: 'Lato';
}

.fetured__title {
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.fetured__subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.fetured__item-title {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.fetured__item-subtitle {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.fetured__item-price {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

/*media------------------------*/
/*---------------------------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
}

/*----------------------------------------------*/
._container {
  max-width: 1140px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  ._container {
    max-width: 768px;
  }
}

/*----------------------------------------------*/
.header {
  background: #222222;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 75px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo-search {
  margin: 28px 0 20px 41px;
  color: #E8E8E8;
  background: #222222;
}

@media only screen and (max-width: 768px) {
  .header__logo-search {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .header__logo-img {
    margin-left: 32px;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px;
}

@media only screen and (max-width: 768px) {
  .menu__list {
    margin-right: 32px;
  }
}

@media only screen and (max-width: 375px) {
  .menu__item:nth-child(n+2) {
    display: none;
  }
}

.menu__item {
  margin-left: 33px;
}

@media only screen and (max-width: 768px) {
  .menu__item {
    margin-left: 16px;
  }
}

.menu__item:first-child {
  padding-top: 12px;
}

.menu__item:nth-child(2) {
  padding-top: 8px;
}

/*---------------------------------------------*/
.brand {
  position: relative;
}

.brand__inside {
  min-height: inherit;
  background: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 375px) {
  .brand__inside {
    min-height: 363px;
  }
}

.brand__inside-left {
  display: block;
}

@media only screen and (max-width: 375px) {
  .brand__inside-left {
    display: none;
  }
}

.brand__inside-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 375px) {
  .brand__inside-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.brand__inside-text {
  height: 92px;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-left: 64px;
}

@media only screen and (max-width: 375px) {
  .brand__inside-text {
    height: 61px;
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .brand__inside-text {
    height: 60px;
    margin: 0;
  }
}

.brand__inside-text span {
  color: #F16D7F;
}

.brand__inside-title {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

@media only screen and (max-width: 375px) {
  .brand__inside-title {
    font-size: 37px;
    line-height: 44px;
  }
}

@media only screen and (max-width: 768px) {
  .brand__inside-title {
    font-size: 25px;
    line-height: 28px;
  }
}

.brand__inside-subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 28px;
  color: #222222;
}

@media only screen and (max-width: 768px) {
  .brand__inside-subtitle {
    font-size: 24px;
    line-height: 28px;
  }
}

@media only screen and (max-width: 375px) {
  .brand__inside-subtitle {
    font-size: 20px;
    line-height: 32px;
  }
}

.brand__inside > div {
  width: 50vw;
}

@media only screen and (max-width: 375px) {
  .brand__inside > div {
    width: 100%;
  }
}

.brand__inside img {
  width: 100%;
  height: 100%;
}

._padblock {
  display: none;
}

.type {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 260px 180px;
      grid-template-rows: 260px 180px;
  gap: 30px;
  padding: 65px 0 96px 0;
}

@media only screen and (max-width: 768px) {
  .type {
    padding: 20px 0 155px 0;
  }
}

@media only screen and (max-width: 375px) {
  .type {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 248px 248px 248px 111px;
        grid-template-rows: 248px 248px 248px 111px;
    gap: 32px;
    padding: 64px 0;
  }
}

.type__item {
  position: relative;
}

.type__item-last {
  grid-column: 1/-1;
  position: relative;
}

.type img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.type__item-label {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.type__item-subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFF;
}

.type__item-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 28.8px;
  color: #F16D7F;
}

/*-------------------------------------------------*/
.fetured {
  text-align: center;
}

.fetured__subtitle {
  margin-bottom: 48px;
}

@media only screen and (max-width: 768px) {
  .fetured__subtitle {
    margin-bottom: 72px;
  }
}

@media only screen and (max-width: 375px) {
  .fetured__subtitle {
    margin-bottom: 64px;
  }
}

.fetured__item {
  display: -ms-grid;
  display: grid;
  background: #F8F8F8;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@media only screen and (max-width: 768px) {
  .fetured__item {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 16px;
            column-gap: 16px;
    row-gap: 16px;
  }
}

@media (max-width: 1130px) {
  .fetured__item {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 760px) {
  .fetured__item {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media (max-width: 760px) {
  .fetured__item-box {
    width: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }
}

.fetured__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin: 20px;
}

.fetured__item-subtitle {
  margin: 12px 0 18px 0;
}

.fetured__btn {
  width: 212px;
  height: 48px;
  border: 1px solid #ff6a6a;
  margin: 48px auto 95px;
  text-align: center;
  padding-top: 15px;
}

@media only screen and (max-width: 768px) {
  .fetured__btn {
    margin: 32px auto 64px;
  }
}

@media only screen and (max-width: 375px) {
  .fetured__btn {
    margin: 40px auto 96px;
  }
}

.fetured__btn a {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
}

/*---------------------------------------------*/
.feature {
  background: #222224;
}

.feature__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .feature__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.feature__item {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin: 103px 0 104px 0;
  padding: 0 28px;
}

@media only screen and (max-width: 768px) {
  .feature__item {
    width: 360px;
    margin: 23px 0;
  }
}

@media only screen and (max-width: 768px) {
  .feature__item:first-child {
    margin-top: 46px;
  }
}

@media only screen and (max-width: 768px) {
  .feature__item:last-child {
    margin-bottom: 46px;
  }
}

.feature__title {
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin: 28px 0 16px 0;
}

@media only screen and (max-width: 768px) {
  .feature__title {
    margin: 28px 0 16px 0;
  }
}

.feature__subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 20px;
  text-align: center;
  color: #FBFBFB;
}

/*---------------------------------------------------*/
.subscribe__container {
  min-height: 448px;
  background: url(/img/phot_subscribe.png) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .subscribe__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: cover;
  }
}

.subscribe__manager {
  max-width: 360px;
  height: 225px;
  margin-top: 97px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .subscribe__manager {
    margin-top: 64px;
  }
}

.subscribe__manager img {
  margin-bottom: 30px;
}

.subscribe__manager p {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

@media only screen and (max-width: 375px) {
  .subscribe__manager p {
    font-size: 18px;
    line-height: 22px;
  }
}

.subscribe__form {
  max-width: 557px;
  height: 142px;
  margin-top: 150px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .subscribe__form {
    margin: 48px 0 140px 0;
  }
}

@media only screen and (max-width: 375px) {
  .subscribe__form {
    margin-bottom: 109px;
    height: 123px;
  }
}

.subscribe__form-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: #222224;
}

.subscribe__form-subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 0px;
  color: #222224;
  margin-bottom: 32px;
  margin-top: 10px;
}

@media only screen and (max-width: 375px) {
  .subscribe__form-subtitle {
    font-size: 14px;
    margin-bottom: 22px;
  }
}

.subscribe__form-btn input {
  height: 49px;
  width: 256px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  padding-left: 20px;
  background-color: #E1E1E1;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
}

@media only screen and (max-width: 375px) {
  .subscribe__form-btn input {
    width: 200px;
  }
}

.subscribe__form-btn button {
  height: 49px;
  width: 100px;
  border: none;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  background-color: #F16D7F;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

/*-----------------------------------------------------*/
.footer {
  background: #222224 no-repeat;
  padding: 24px 0;
}

@media only screen and (max-width: 375px) {
  .footer {
    padding: 0;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 375px) {
  .footer__container {
    min-height: 143px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.rights {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  padding-top: 6px;
}

@media only screen and (max-width: 768px) {
  .rights {
    margin-left: 32px;
  }
}

@media only screen and (max-width: 375px) {
  .rights {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 0 9px 0;
  }
}

.social__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .social__icons {
    margin-right: 32px;
  }
}

@media only screen and (max-width: 375px) {
  .social__icons {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 43px 0 40px 0;
  }
}

.social__icons-item {
  width: 32px;
  height: 32px;
  background: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
}

.social__icons-item a {
  color: #000;
  text-decoration: none;
}

.new {
  background: #F8F3F4;
}

.new .new__inside {
  min-height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new .new__inside-left {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.new .new__inside-right {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.new .new__inside-right .new__breadcrumb {
  list-style: none;
}

.new .new__inside-right .new__breadcrumb li {
  display: inline;
}

.new .new__inside-right .new__breadcrumb li + li:before {
  padding: 3px;
  color: #636363;
  content: "/\00a0";
}

.new .new__inside-right .new__breadcrumb li a {
  text-decoration: none;
  color: #636363;
}

.new .new__inside-right .new__breadcrumb li a:hover {
  text-decoration: underline;
}

.new .new__inside-right .new__breadcrumb li:last-child {
  color: #F16D7F;
}
