@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto&display=swap");
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-family: 'Lato';
}


/*----------------------------------------------*/

.wrapper {
    max-width: 1600px;
    min-height: 100%;
    overflow: hidden;
}


/*----------------------------------------------*/

._container {
    max-width: 1140px;
    margin: 0 auto;
}


/*----------------------------------------------*/

.header {
    background: #222222;
}

.header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 75px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header__logo-search {
    margin: 28px 0 20px 41px;
    color: #E8E8E8;
    background: #222222;
}

.menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 18px;
}

.menu__item {
    margin-left: 33px;
}

.menu__item:first-child {
    padding-top: 5px;
}

.brand {
    background: #F1E4E6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.brand__text {
    height: 93px;
    margin-top: 290px;
    margin-left: 91px;
    padding-left: 15px;
    border-left: 12px solid #F16D7F;
}

.brand__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.brand__subtitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 28px;
    color: #222222;
}

.brand__subtitle span {
    color: #F16D7F;
}

.content {}

.content__container {}

._container {}

.type {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding: 65px 16px;
}

.type__item {
    position: relative;
}

.type__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.type__item-label {
    position: relative;
    z-index: 1;
}

.type__item-last {
    grid-column: 1/-1;
    position: relative;
}

.type__item:last-child img {}

.type__item-subtitle {}

.type__item-title {}

.fetured {}

.fetured__title {}

.title {}

.fetured__subtitle {}

.subtitle {}

.fetured__item {}

.fetured__item-img {}

.fetured__item-title {}

.fetured__item-subtitle {}

.fetured__item-price {}

.content__btn {}