@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: 'Lato';
}

.fetured__title {
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.fetured__subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.fetured__item-title {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.fetured__item-subtitle {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.fetured__item-price {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

/*----------------------------------------------*/
.wrapper {
  max-width: 1600px;
  min-height: 100%;
  overflow: hidden;
}

/*----------------------------------------------*/
._container {
  max-width: 1140px;
  margin: 0 auto;
}

/*----------------------------------------------*/
.header {
  background: #222222;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 75px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo-search {
  margin: 28px 0 20px 41px;
  color: #E8E8E8;
  background: #222222;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px;
}

.menu__item {
  margin-left: 33px;
}

.menu__item:first-child {
  padding-top: 5px;
}

.brand {
  background: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brand__text {
  height: 92px;
  margin-top: 290px;
  margin-left: 91px;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

.brand__text span {
  color: #F16D7F;
}

.brand__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.brand__subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 28px;
  color: #222222;
}

.type {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin: 65px 0 96px 0;
}

.type__item {
  position: relative;
}

.type__item-last {
  position: relative;
}

.type__item-label {
  width: 100%;
  height: 100%;
  color: #fff;
  position: absolute;
  z-index: 1;
  top: 42%;
  left: 0;
  text-align: center;
}

.type__item-subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.type__item-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 28.8px;
  color: #F16D7F;
}

.fetured {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.fetured__title {
  grid-column: 1/-1;
}

.fetured__subtitle {
  grid-column: 1/-1;
}

.fetured__item {
  background: #F8F8F8;
}

.fetured__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin: 20px;
}

.fetured__item-subtitle {
  margin: 12px 0 18px 0;
}

.fetured__btn {
  width: 212px;
  height: 48px;
  border: 1px solid #ff6a6a;
  margin: 48px auto 95px;
  text-align: center;
  padding-top: 15px;
}

.fetured__btn a {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
}

.feature {
  background: #222224;
}

.feature__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__item {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin: 103px 0 104px 0;
  padding: 0 28px;
}

.feature__title {
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin: 28px 0 16px 0;
}

.feature__subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 20px;
  text-align: center;
  color: #FBFBFB;
}

.subscribe {
  min-height: 448px;
  background-image: url(/img/phot_subscribe.png);
}

.subscribe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__manager {
  max-width: 360px;
  height: 225px;
  margin-top: 97px;
  text-align: center;
}

.subscribe__manager img {
  margin-bottom: 30px;
}

.subscribe__manager p {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.subscribe__form {
  max-width: 557px;
  height: 142px;
  margin-top: 150px;
  text-align: center;
}

.subscribe__form-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: #222224;
}

.subscribe__form-subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 0px;
  color: #222224;
  margin-bottom: 32px;
  margin-top: 10px;
}

.subscribe__form-btn input {
  height: 49px;
  width: 256px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  padding-left: 20px;
  background-color: #E1E1E1;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
}

.subscribe__form-btn button {
  height: 49px;
  width: 100px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  background-color: #F16D7F;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.footer {
  background: #222224;
  padding: 24px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rights {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  padding-top: 6px;
}

.social__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__icons-item {
  width: 32px;
  height: 32px;
  background: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
}

.social__icons-item a {
  color: #000;
  text-decoration: none;
}
