@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&family=Playfair+Display:regular,700,700italic&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*-----Подключения-------*/
.b-header__item {
  position: relative;
  width: 100%;
}

.b-header__label {
  height: 70px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  line-height: 19.5px;
  color: #FFFFFF;
}

.b-menu {
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}

.b-menu__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #FFFFFF;
}

.b-menu__item:last-child {
  border-right: none;
}

.b-menu__item:first-child {
  border-left: none;
}

.b-buttonDouble {
  width: 415px;
  height: 50px;
  position: absolute;
  left: 347px;
  top: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.b-buttonDouble__vineList, .b-buttonDouble__tasting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 182px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #998431;
}

.b-publicity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-publicity__item {
  width: 1110px;
  height: 656px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.b-publicity__title {
  font-family: "Playfair Display";
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  padding-top: 60px;
  padding-bottom: 40px;
}

.b-publicity__line {
  width: 160px;
  border: 1px solid #FFFFFF;
}

.b-publicity__text {
  width: 733px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 40px;
}

.b-publicity__image {
  padding-top: 50px;
}

.b-collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-collection__item {
  height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #998431;
  border-bottom: 1px solid #998431;
}

.b-collection__info {
  width: 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.b-collection__label {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  padding-top: 60px;
}

.b-collection__title {
  width: 298px;
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #282828;
  padding-top: 30px;
  padding-bottom: 30px;
}

.b-collection__line {
  width: 160px;
  border: 1px solid #282828;
}

.b-collection__text {
  font-size: 14px;
  line-height: 21px;
  color: #282828;
  padding-top: 30px;
  padding-bottom: 30px;
}

.b-collection__table {
  width: 100%;
  border-collapse: collapse;
}

.b-collection__table .table__text {
  border-bottom: 1px solid #282828;
  padding-left: 30px;
}

.b-collection__table .table__title {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #282828;
  padding-left: 30px;
  vertical-align: bottom;
}

.b-collection__table .table__year {
  font-size: 14px;
  line-height: 21px;
  color: #282828;
  border-right: 1px solid #282828;
  border-bottom: 1px solid #282828;
  padding: 31px 24px;
}

.b-collection__table .table__year-end,
.b-collection__table .table__text-end {
  border-bottom: none;
}

.b-collection__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 254px;
  height: 50px;
  background: #998431;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.b-collection__image {
  padding-top: 60px;
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.b-collection__image-top {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.b-form {
  position: relative;
}

.b-form__content {
  height: 538px;
  width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #C4C4C4;
}

.b-form__title {
  font-family: "Playfair Display";
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #FFFFFF;
  padding: 0 50px;
}

.b-form__item {
  width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}

.b-form__line {
  width: 118px;
  outline: 1px solid #FFFFFF;
}

.b-form__text {
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 40px;
  padding-bottom: 80px;
}

.b-form__user {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.b-form__name, .b-form__phone {
  width: 255px;
  border-bottom: 1px solid #FFFFFF;
  background: #282828;
}

.b-form__name::-webkit-input-placeholder, .b-form__phone::-webkit-input-placeholder, .b-form__place::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #FFFFFF;
}

.b-form__name:-ms-input-placeholder, .b-form__phone:-ms-input-placeholder, .b-form__place:-ms-input-placeholder {
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #FFFFFF;
}

.b-form__name::-ms-input-placeholder, .b-form__phone::-ms-input-placeholder, .b-form__place::-ms-input-placeholder {
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #FFFFFF;
}

.b-form__name::placeholder, .b-form__phone::placeholder, .b-form__place::placeholder {
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #FFFFFF;
}

.b-form__place {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #FFFFFF;
  background: #282828;
  margin-bottom: 40px;
}

.b-form__btn {
  width: 100%;
  height: 50px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #282828;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.b-form__image-left {
  position: absolute;
  top: 60px;
  left: 375px;
}

.b-form__image-right {
  position: absolute;
  top: 64px;
  right: 352px;
}

.b-footer__menu {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.b-footer__label {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: center;
}

.b-footer__label {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.b-footer__nameCompany {
  width: 350px;
}

.b-footer__phone {
  width: 235px;
}

.b-footer__social {
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.b-footer__item {
  width: 25px;
  height: 25px;
  background: #fff;
}

.b-footer__item a {
  color: #998431;
  text-decoration: none;
  z-index: 5;
}

.b-footer__site {
  width: 265px;
}

/*------блоки-------*/
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.b-wrapper {
  max-width: 1920px;
}

.b_container {
  width: 1110px;
  margin: 0 auto;
}

.b-header {
  height: 900px;
  background: -webkit-gradient(linear, left top, left bottom, from(#282828), to(rgba(40, 40, 40, 0))), url(../addTask/image/headerBGR.jpg), #EDEDED;
  background: linear-gradient(180deg, #282828 0%, rgba(40, 40, 40, 0) 100%), url(../addTask/image/headerBGR.jpg), #EDEDED;
  background-size: cover;
  background-repeat: no-repeat;
}

.b-main__publicity {
  height: 856px;
  background: #282828;
}

.b-main__collection {
  height: 1038px;
  background: #E6E3C4;
}

.b-main__form {
  height: 767px;
  background: #282828;
  padding-top: 130px;
}

.b-footer {
  height: 220px;
  background: #998431;
}

.b-footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}
