*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-family: 'Lato';
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto&display=swap');

/*----------------------------------------------*/

.wrapper {
    max-width: 1600px;
    min-height: 100%;
    overflow: hidden;
}


/*----------------------------------------------*/

._container {
    max-width: 1140px;
    margin: 0 auto;
}


/*----------------------------------------------*/

.header {
    background: #222222;
}

.header__container {
    display: flex;
    max-height: 75px;
    justify-content: space-between;
}

.header__logo {}

.header__logo-img {}

.header__logo-search {
    margin: 28px 0 20px 41px;
    color: #E8E8E8;
    background: #222222;
}

.menu {}

.menu__list {
    display: flex;
    margin-top: 18px;
}

.menu__item {
    margin-left: 33px;
}

.menu__item:first-child {
    padding-top: 5px;
}

.brand {
    background: #F1E4E6;
    display: flex;
}

.brand__text {
    height: 92px;
    margin-top: 290px;
    margin-left: 91px;
    float: right;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.brand__text span {
    color: #F16D7F;
}

.brand__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.brand__subtitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 28px;
    color: #222222;
}

.content {}

.content__container {}

.type {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.type__item {
    position: relative;
}

.type__item-last {
    position: relative;
}

//.type__item img {
//    position: inherit;
//}
.type__item-label {
    //width: 100%;
    height: 100%;
    color: #fff;
    position: absolute;
    z-index: 1;
    top: 26.36%;
    left: 20.81%;
    //display: flex;
    //justify-content: center;
    //align-items: center;
}

.type__item-subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    //text-align: center;
}

.type__item-title {
    font-weight: normal;
    font-size: 24px;
    line-height: 28.8px;
    //text-align: center;
}

.fetured {}

.fetured__title {}

.title {}

.fetured__subtitle {}

.subtitle {}

.fetured__item {}

.fetured__item-img {}

.fetured__item-title {}

.fetured__item-subtitle {}

.fetured__item-price {}

.content__btn {}

.feature {}

.feature__container {}

.free {}

.free__img {}

.feature__title {}

.feature__subtitle {}

.subscribe {}

.subscribe__container {}

.subscribe__manager {}

.subscribe__form {}

.subscribe__form-btn {}

.footer {}

.footer__container {}

.footer__down {}

.container {}

.rights {}

.social__icons {}

.facebook {}

.instagram {}

.pinterest {}

.twitter {}