*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-family: 'Lato';
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto&display=swap');
%title {
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

%subtitle {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

%title_fetured {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

%subtitle_fetured {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

%price_fetured {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}


/*media------------------------*/

$small: 320px;
$tablet: 768px;
@mixin respond-to ($media) {
    @if $media==handhelds {
        @media only screen and (max-width: $small) {
            @content;
        }
    }
    @else if $media==tablet {
        @media only screen and (max-width: $tablet) {
            @content;
        }
    }
}


/*---------------------------------------*/

.wrapper {
    min-height: 100%;
    overflow: hidden;
}


/*----------------------------------------------*/

._container {
    max-width: 1140px;
    margin: 0 auto;
    @include respond-to(tablet) {
        max-width: 736px;
    }
}


/*----------------------------------------------*/

.header {
    background: #222222;
    &__container {
        display: flex;
        max-height: 75px;
        justify-content: space-between;
    }
    &__logo-search {
        margin: 28px 0 20px 41px;
        color: #E8E8E8;
        background: #222222;
    }
}

.menu {
    &__list {
        display: flex;
        margin-top: 18px;
    }
    &__item {
        margin-left: 33px;
    }
    &__item:first-child {
        padding-top: 5px;
    }
}

.brand {
    position: relative;
}


/*---------------------------------------------*/

.brand__inside {
    min-height: inherit;
    background: #F1E4E6;
    display: flex;
    &-img {
        display: block;
    }
    &-text {
        height: 92px;
        margin-top: 290px;
        margin-left: 91px;
        border-left: 12px solid #F16D7F;
        padding-left: 16px;
    }
    &-text span {
        color: #F16D7F;
    }
    &-title {
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        color: #222222;
    }
    &-subtitle {
        font-weight: 700;
        font-size: 32px;
        line-height: 28px;
        color: #222222;
    }
    &>div {
        width: 50%;
    }
    & img {
        width: 100%;
    }
}

._padblock {
    display: none;
}

.type {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 180px;
    gap: 30px;
    padding: 65px 0 96px 0;
    &__item {
        position: relative;
    }
    &__item-last {
        grid-column: 1/-1;
        position: relative;
    }
    & img {
        width: 100%;
        height: 100%;
        position: absolute;
    }
    &__item-label {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__item-subtitle {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #FFF;
    }
    &__item-title {
        font-weight: normal;
        font-size: 24px;
        line-height: 28.8px;
        color: #F16D7F;
    }
}


/*-------------------------------------------------*/

.fetured {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    &__title {
        @extend %title;
        grid-column: 1/-1;
    }
    &__subtitle {
        @extend %subtitle;
        grid-column: 1/-1;
    }
    &__item {
        background: #F8F8F8;
    }
    &__item-text {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 20px;
    }
    &__item-title {
        @extend %title_fetured;
    }
    &__item-subtitle {
        @extend %subtitle_fetured;
        margin: 12px 0 18px 0;
    }
    &__item-price {
        @extend %price_fetured
    }
    &__btn {
        width: 212px;
        height: 48px;
        border: 1px solid #ff6a6a;
        margin: 48px auto 95px;
        text-align: center;
        padding-top: 15px;
    }
    &__btn a {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #F26376;
    }
}


/*---------------------------------------------*/

.feature {
    background: #222224;
    &__container {
        display: flex;
    }
    &__item {
        display: grid;
        justify-items: center;
        margin: 103px 0 104px 0;
        padding: 0 28px;
    }
    &__title {
        font-weight: normal;
        font-size: 19.96px;
        line-height: 24px;
        color: #FBFBFB;
        margin: 28px 0 16px 0;
    }
    &__subtitle {
        font-style: normal;
        font-weight: 300;
        font-size: 13.972px;
        line-height: 20px;
        text-align: center;
        color: #FBFBFB;
    }
}


/*---------------------------------------------------*/

.subscribe {
    &__container {
        min-height: 448px;
        background: url(/img/phot_subscribe.png) no-repeat;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__manager {
        max-width: 360px;
        height: 225px;
        margin-top: 97px;
        text-align: center;
    }
    &__manager img {
        margin-bottom: 30px;
    }
    &__manager p {
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #222224;
    }
    &__form {
        max-width: 557px;
        height: 142px;
        margin-top: 150px;
        text-align: center;
    }
    &__form-title {
        font-weight: bold;
        font-size: 24px;
        line-height: 40px;
        color: #222224;
    }
    &__form-subtitle {
        font-weight: normal;
        font-size: 18px;
        line-height: 0px;
        color: #222224;
        margin-bottom: 32px;
        margin-top: 10px;
    }
    &__form-btn input {
        height: 49px;
        width: 256px;
        box-sizing: border-box;
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;
        padding-left: 20px;
        background-color: #E1E1E1;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #222224;
    }
    &__form-btn button {
        height: 49px;
        width: 100px;
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
        background-color: #F16D7F;
        ;
        color: #FFFFFF;
        ;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
    }
}


/*-----------------------------------------------------*/

.footer {
    background: #222224 no-repeat;
    padding: 24px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.rights {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    padding-top: 6px;
}

.social__icons {
    display: flex;
}

.social__icons-item {
    width: 32px;
    height: 32px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.social__icons-item a {
    color: #000;
    text-decoration: none;
}