*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-family: 'Lato';
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto&display=swap');
%title {
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

%subtitle {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}


/*----------------------------------------------*/

.wrapper {
    max-width: 1600px;
    min-height: 100%;
    overflow: hidden;
}


/*----------------------------------------------*/

._container {
    max-width: 1140px;
    margin: 0 auto;
}


/*----------------------------------------------*/

.header {
    background: #222222;
    &__container {
        display: flex;
        max-height: 75px;
        justify-content: space-between;
    }
    &__logo-search {
        margin: 28px 0 20px 41px;
        color: #E8E8E8;
        background: #222222;
    }
}

.menu {
    &__list {
        display: flex;
        margin-top: 18px;
    }
    &__item {
        margin-left: 33px;
    }
    &__item:first-child {
        padding-top: 5px;
    }
}

.brand {
    background: #F1E4E6;
    display: flex;
    &__text {
        height: 92px;
        margin-top: 290px;
        margin-left: 91px;
        float: right;
        border-left: 12px solid #F16D7F;
        padding-left: 16px;
    }
    &__text span {
        color: #F16D7F;
    }
    &__title {
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        color: #222222;
    }
    &__subtitle {
        font-weight: 700;
        font-size: 32px;
        line-height: 28px;
        color: #222222;
    }
}

.content {}

.content__container {}

.type {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    margin: 65px 0 96px 0;
    &__item {
        position: relative;
    }
    &__item-last {
        position: relative;
    }
    //.&__item img {
    //    position: inherit;
    //}
    &__item-label {
        width: 100%;
        height: 100%;
        color: #fff;
        position: absolute;
        z-index: 1;
        top: 42%;
        left: 0;
        text-align: center;
    }
    &__item-subtitle {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
    }
    &__item-title {
        font-weight: normal;
        font-size: 24px;
        line-height: 28.8px;
        color: #F16D7F;
    }
}

.fetured {
    text-align: center;
    &__title {
        @extend %title;
    }
    &__subtitle {
        @extend %subtitle;
    }
    &__item {}
    &__item-img {}
    &__item-title {}
    &__item-subtitle {}
    &__item-price {}
}

.subtitle {}

.content__btn {}

.feature {}

.feature__container {}

.free {}

.free__img {}

.feature__title {}

.feature__subtitle {}

.subscribe {}

.subscribe__container {}

.subscribe__manager {}

.subscribe__form {}

.subscribe__form-btn {}

.footer {}

.footer__container {}

.footer__down {}

.container {}

.rights {}

.social__icons {}

.facebook {}

.instagram {}

.pinterest {}

.twitter {}