.b-buttonDouble {
    width: 415px;
    height: 50px;
    position: absolute;
    left: 347px;
    top: 700px;
    display: flex;
    justify-content: space-between;
    &__vineList,
    &__tasting {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 182px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
        background: $buttonBGR;
    }
}