.b-collection {
  display: flex;
  align-items: center;
  @media (max-width: 320px) {
    display: block;
    height: 0;
    margin: 0 auto;
    align-items: start;
  }
  &__item {
    max-width: 100%;
    height: 900px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #998431;
    border-bottom: 1px solid #998431;
    @media (max-width: 320px) {
      flex-direction: column;
      align-items: center;
      border: none;
      width: 300px;
      height: initial;
    }
  }
  &__info {
    width: 445px;
    display: flex;
    flex-direction: column;
    align-items: start;
    @media (max-width: 320px) {
      width: 300px;
    }
  }
  &__label {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding-top: 60px;
    @media (max-width: 320px) {
      padding-top: 20px;
      font-size: 12px;
      line-height: 18px;
    }
  }
  &__title {
    width: 298px;
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #282828;
    padding-top: 30px;
    padding-bottom: 30px;
    @media (max-width: 320px) {
      font-size: 20px;
      line-height: 40px;
    }
  }
  &__line {
    width: 160px;
    border: 1px solid #282828;
    @media (max-width: 320px) {
      width: 300px;
    }
  }
  &__text {
    font-size: 14px;
    line-height: 21px;
    color: #282828;
    padding-top: 30px;
    padding-bottom: 30px;
    @media (max-width: 320px) {
      font-style: 12px;
      line-height: 18px;
    }
  }
  &__table {
    width: 100%;
    border-collapse: collapse;
    .table__text {
      border-bottom: 1px solid #282828;
      //padding-bottom: 15px;
      padding-left: 30px;
      @media (max-width: 320px) {
        display: none;
      }
    }
    .table__title {
      font-family: "Playfair Display";
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
      color: #282828;
      padding-left: 30px;
      vertical-align: bottom;
      @media (max-width: 320px) {
        border-bottom: 1px solid #282828;
      }
    }
    .table__year {
      font-size: 14px;
      line-height: 21px;
      color: #282828;
      border-right: 1px solid #282828;
      border-bottom: 1px solid #282828;
      padding: 31px 24px;
    }
    .table__year-end,
    .table__text-end {
      border-bottom: none;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 254px;
    height: 50px;
    background: $buttonBGR;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    @media (max-width: 320px) {
      margin: 0 auto;
    }
  }
  &__image {
    padding-top: 60px;
    display: grid;
    gap: 30px;
    grid-template-rows: 1fr 1fr;
    @media (max-width: 320px) {
      grid-template-rows: auto;
      &-down {
        display: none;
      }
    }
    &-top {
      grid-column: 1/3;
    }
  }
}