.b-footer {
  &__item {
    max-width: 100%;
  }
  &__menu {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    @media (max-width: 320px) {
      flex-direction: column;
      border-top: none;
      height: 210px;
    }
    &-item {
      @media (max-width: 320px) {
        height: 40px;
        width: 100%;
        border: 1px solid #fff;
        padding-left: 15px;
      }
    }
  }
  &__label {
    display: flex;
    flex-direction: row;
    //justify-content: space-around;
    align-items: center;
    flex-basis: auto;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    height: 60px;
    border-bottom: 1px solid #fff;
    @media (max-width: 320px) {
      flex-direction: column;
      height: 100px;
      padding-top: 15px;
    }
  }
  &__nameCompany {
    height: 100%;
    width: 350px;
    border-right: 1px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 320px) {
      height: 40px;
    }
  }
  &__phone {
    height: 100%;
    width: 235px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #FFFFFF;
    @media (max-width: 320px) {
      height: 40px;
      border-right: none;
    }
  }
  &__social {
    height: 100%;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-right: 1px solid #FFFFFF;
    @media (max-width: 320px) {
      border-right: none;
    }
    a {
      width: 25px;
      height: 25px;
      background: #fff;
      color: $footerBGR;
      text-decoration: none;
      z-index: 5;
    }
  }
  &__site {
    height: 100%;
    width: 265px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.fa {}

.fa-youtube-play {}

.fa-vk {}

.fa-facebook {}