.b-footer {
  &__item {
    max-width: 100%;
    @media (max-width: 768px) {
      width: auto;
    }
  }
  &__menu {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    @media (max-width: 768px) {
      height: auto;
      flex-flow: row wrap;
      border-top: none;
      border-bottom: none;
    }
  }
  &__menu-item {
    @media (max-width: 768px) {
      border: 1px solid #fff;
      width: 30%;
      height: 30px;
      margin-bottom: 10px;
      padding-top: 3px;
      padding-left: 15px;
    }
  }
  &__label {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: auto;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    height: 60px;
    border-bottom: 1px solid #fff;
    @media (max-width: 768px) {
      border-top: 1px solid #fff;
      margin-top: 15px;
    }
  }
  &__nameCompany {
    height: 100%;
    width: 350px;
    border-right: 1px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__phone {
    height: 100%;
    width: 235px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #FFFFFF;
  }
  &__social {
    height: 100%;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-right: 1px solid #FFFFFF;
    a {
      height: 25px;
      background: $footerBGR;
      color: #fff;
      text-decoration: none;
    }
  }
  &__site {
    height: 100%;
    width: 265px;
    line-height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}