.b-header__item {
  position: relative;
  width: 100%;
  @media (max-width: 320px) {
    margin: 0 auto;
    min-width: 300px;
    padding: 5px;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}

.b-label {
  height: 70px;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  line-height: 19.5px;
  color: #FFFFFF;
  @media (max-width: 320px) {
    flex-direction: column;
    align-items: flex-start;
    height: 40px;
  }
}

.b-menu {
  height: 47px;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  @media (max-width: 320px) {
    flex-direction: column;
    justify-content: start;
    padding-top: 30px;
    height: 190px;
  }
  @media (max-width: 768px) {
    flex-flow: row wrap;
    width: 700px;
    height: 120px;
  }
  &__item {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid #FFFFFF;
    @media (max-width: 320px) {
      height: 40px;
      padding-left: 15px;
    }
    @media (max-width: 768px) {
      width: 245px;
      ;
    }
    &:last-child {
      border-right: none;
      @media (max-width: 320px) {
        border-right: 1px solid #FFFFFF;
      }
    }
    &:first-child {
      @media (max-width: 320px) {
        border-left: 1px solid #FFFFFF;
      }
    }
  }
}

.b-buttonDouble {
  width: 415px;
  height: 50px;
  position: absolute;
  left: 347px;
  top: 700px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 320px) {
    flex-direction: column;
    left: 50px;
    top: 300px;
    height: 70px;
  }
  &__vineList,
  &__tasting {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 182px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: $buttonBGR;
    @media (max-width: 320px) {
      line-height: 25px;
    }
  }
}