.b-publicity {
  display: flex;
  align-items: center;
  &__item {
    width: 100%;
    height: 656px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 3px solid #C4C4C4;
    box-sizing: border-box;
  }
  &__title {
    font-family: "Playfair Display";
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 40px;
    letter-spacing: 1.97px;
  }
  &__line {
    width: 160px;
    border: 1px solid #FFFFFF;
  }
  &__text {
    width: 733px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 33px;
  }
  &__image {
    padding-top: 50px;
  }
}