* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&family=Playfair+Display:regular,700,700italic&display=swap");
$fontFamily: "Montserrat",
sans-serif;
$fontSize: rem(16);
body {
  font-family: $fontFamily;
  font-size: $fontSize;
}