* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&family=Playfair+Display:regular,700,700italic&display=swap");
$fontFamily: "Montserrat",
sans-serif;
$fontSize: 16px;
body {
  font-family: $fontFamily;
  font-size: $fontSize;
}

$mainBGR: background: #282828;
$collectionBGR: background: #E6E3C4;
$footerBGR: background: #998431;
$buttonBGR: background: #998431;